@page "/products"

<h3>Products</h3>

@if(products == null)
{
    <p>laddar...</p>
}
else
{
    foreach(var product in products)
    {
        <div>@product.Name - @product.CategoryName</div>
    }
}



@code {
    private ProductModel[]? products;

    protected override async Task OnInitializedAsync()
    {
        products = await Http.GetFromJsonAsync<ProductModel[]>("https://netgr7-webapi.azurewebsites.net/api/products");
    }
}
