<nav id="mainmenu" class="navbar navbar-expand-lg navbar-light bg-white">
    <div class="container">
        <NavLink class="navbar-brand" href="">IOT</NavLink>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-mainmenu"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-mainmenu">
            <div class="navbar-text ms-auto">
                <ul class="navbar-nav">
                    <NavLink class="nav-link bg-light d-flex align-items-center justify-content-center shadow-sm"><i class="fas fa-bell"></i></NavLink>
                    <NavLink class="nav-link bg-light d-flex align-items-center justify-content-center shadow-sm"><i class="fas fa-comment-alt"></i></NavLink>
                    <NavLink class="nav-link bg-light d-flex align-items-center justify-content-center shadow-sm"><img src="https://thispersondoesnotexist.com/image" alt=""></NavLink>
                    <NavLink class="nav-link bg-light d-flex align-items-center justify-content-center shadow-sm"><i class="fas fa-bars"></i></NavLink>
                </ul>
            </div>
        </div>
    </div>
</nav>
<nav id="submenu" class="navbar navbar-expand-lg navbar-light bg-white shadow-sm">
    <div class="container">
        <div class="collapse navbar-collapse" id="navbar-submenu">
            <div class="navbar-nav">
                <NavLink class="nav-link" href="">Dashboard</NavLink>
                <NavLink class="nav-link" href="simulator">Simulator</NavLink>
            </div>
        </div>
    </div>
</nav>
